<div class="min-vw-100 d-flex flex-column align-items-center justify-content-center">
    <h1 class="h1">Assign role</h1>
    <form class="d-flex flex-column gap-3 w-75 border-1 rounded-2 border bg-opacity-25 p-3" method="post" action="/Admin/ChangePassword">
        <div class="w-100 d-flex flex-column gap-2 border-1 rounded-2 p-2">
            <div class="d-flex justify-content-between p-2 w-100">
                <label class="text-black w-25">Old password:</label>
                <input class="form-control" name="password" />
            </div>
            <div class="d-flex justify-content-between p-2 w-100">
                <label class="text-black w-25">New password:</label>
                <input class="form-control" name="newPassword" />
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

        @await Html.PartialAsync("ErrorsBlock")
    </form>
</div>