*.docx
*.pdf

# Игнорировать папку node_modules, так как она содержит зависимости проекта
node_modules/

# Игнорировать локальные файлы конфигурации
*.env

# Игнорировать логи и файлы отладки
logs/
*.log
npm-debug.log*

# Игнорировать временные файлы
pids/
*.pid
*.seed
*.pid.lock

# Игнорировать кеш Babel
/dist/

# Игнорировать файлы и папки, созданные в среде разработки
.vscode/
.idea/

# Игнорировать файлы и папки, связанные с текстовым редактором Vim
*.swp
*.swo

# Игнорировать файлы, созданные при запуске тестов
coverage/