<div class="d-flex gap-1">
    <a href="/Calc/?press=+" class="link-primary">Sum</a>
    <a href="/Calc/?press=-" class="link-primary">Sub</a>
    <a href="/Calc/?press=*" class="link-primary">Mul</a>
    <a href="/Calc/?press=/" class="link-primary">Div</a>
</div>