.vs/
.Migrations/
bin/
obj/
.vscode/
/FileContentIndex/*
*.nuget.props
*.nuget.targets
*.user
*.vsidx
*.bin
*.v2
*.pdb
*.dll
*.exe
*.msi
*.exe
*.dll
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
.builds
*.ide
*.suo
*.userprefs
*.usertasks
_ReSharper*/
*.[Rr]e[Ss]harper
.idea/
.DS_Store
*.txt
*.Log

**/**/packages/
lab6/**/packages/
