{{>part}}
<form action="/add" method="post" class="form-container">
    <div class="form-row">
        <input type="text" name="FIO" placeholder="FIO" required>
        <input type="text" name="number" placeholder="number" pattern="[0-9]{7}" required>
    </div>
    <div class="form-row">
        <input type="submit" id="button" value="send">
    </div>
</form>
<div id="button">
    {{#back}}{{/back}}
</div>
